*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("/Images/summer.gif"); 
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

.topbar{
    height: 112px;
    width: 100%;
    background-color: rgba(204, 224, 115, 0.85);
}
.app-name{
    color: rgb(221, 163, 77);
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
    padding-left: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0.5px solid black
}
.app-name:hover{
    border: 2px solid rgb(27, 27, 27);
    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    

}
.weather-app{
    height: 60px;
    width: 100%;
   
   
    border-radius: 5px;
    text-align: center;
    align-content: center;
    font-size: 50px;
    color: rgb(66, 0, 74);
    background : radial-gradient(rgba(189, 253, 116,0.8),rgba(101, 245, 255,0.8));
}
.navbar{
    margin-top: 2px;
    align-items: center;
    font-size: 25px;
    padding: 4px;
    border-radius: 2px;
    font-weight: bold;
    font-style: italic;
    height: 40px;
    width: 100%;
    background-color: rgba(101, 245, 255,0.8); 
    margin-left: 0%;
    justify-content: space-around;
    display: flex;
    
}
.logo1{
    width: 43px ;
    height: 36px;
    border-radius: 3px; 
    align-items: center;
}
.nav-box2{
    display: flex;
}
.logo2{
    width: 40px ;
    height: 36px;
    border: 0.5px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
    align-items: center;
}
.logo2:hover{
    border: 2px solid black;
    border-radius: 4px;
}
select{
    margin-left: 10px;
    padding: 5px;
    height: 38px;
    
    letter-spacing: 1px;
    width: 200px;
    background-color: white;
    color: rgb(221, 163, 77);
    border-radius: 4px;
    border: 0.5px solid black;
}
select:hover{
    border: 2px solid black;
    border-radius: 4px;
}
input{
    letter-spacing: 1px;
    border: 0.5px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
    border-right: none;
    padding: 4px;
    height: 28px;
    width: 550px;
    color: rgb(221, 163, 77);
    background-color: white;
}
input:hover{
    border: 2px solid black;
    border-radius: 4px;
}

.wholebox{
    
    height: 600px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.box2{
    
    height: 300px;
    width: 700px;
    background : radial-gradient(rgba(189, 253, 116,0.8),rgba(101, 245, 255,0.5));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Temperature,#chances{
    font-size: 35px;
    font-weight: bold;
    color: rgb(66, 0, 74);
}
.data{
    margin: 5px;
}
